<!-- Container with responsive padding and dark mode support -->
<div class="w-screen h-screen flex flex-col justify-center items-center bg-white dark:bg-gray-900">
  <!-- First Button: What's your IP? -->
 <div class="-mt-24">
  <div ><a routerLink="/YourIpInfo"><button class="bg-black dark:bg-gray-800 px-6 py-3 rounded-md text-white dark:text-gray-300 w-full max-w-xs mb-4">
    What's your IP?
  </button></a></div>

  <!-- Second Button: Search for IP Information -->
  <div><a routerLink="/Search"><button class="bg-black dark:bg-gray-800 px-6 py-3 rounded-md text-white dark:text-gray-300 w-full max-w-xs" >
    Search for IP Information
  </button></a></div>
 </div>
</div>
